/* Certifications */
.cert-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 2rem;
    width: 100%;
}

.cert-item {
    display: flex;
    align-items: flex-start;
    background: white;
    border-radius: 4px;
    padding: 2rem;
    box-shadow: var(--shadow);
    transition: all var(--transition-bounce);
    position: relative;
    width: 100%;
}

.cert-item:hover {
    transform: translateY(-12px) scale(1.04);
    box-shadow: var(--shadow-lg);
    background: var(--blue-light);
}

.cert-year {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--blue);
    margin-right: 2rem;
    min-width: 5rem;
    transition: color var(--transition);
}

.cert-item:hover .cert-year {
    color: var(--accent);
}

.cert-content {
    flex: 1;
    word-break: break-word;
    /* Ensures text doesn't overflow */
}

.cert-content h3 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    transition: color var(--transition);
}

.cert-item:hover .cert-content h3 {
    color: var(--blue-dark);
}

.cert-content p {
    color: var(--gray-800);
    opacity: 0.8;
}