/* Projects Section */
.projects-grid {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(1rem, 1fr));
    gap: 4rem;
    margin-top: 2rem;
    width: 100%;
}

.project-card {
    background: white;
    position: relative;
    border-left: 4px solid var(--blue);
    box-shadow: var(--shadow-sm);
    padding: 4rem;
    border-radius: 8px;
    transition: all var(--transition-bounce);
    width: 100%;
    overflow: hidden;
    /* Prevents content from overflowing */
}

.github-icon-link {
    position: absolute;
    top: 3rem;
    right: 3rem;
    color: var(--blue);
    cursor: pointer;
    transition: transform 0.4s ease;
    z-index: 10;
}

.github-icon-link:hover {
    transform: scale(1.20);
}

.project-card:hover .github-icon-link {
    color: white;
}

.project-card ul {
    margin-left: 4rem;
    padding-right: 2rem;
    /* Prevents text from touching right edge */
}

.project-card:hover {
    background: var(--blue);
    color: white;
    position: relative;
    box-shadow: 0 12px 24px rgba(0, 102, 255, 0.2);
    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275),
        background-color 0.3s ease,
        color 0.3s ease,
        box-shadow 0.3s ease;
}

.animate.project-card:hover {
    transform: translateY(-12px) scale(1.02);
    background: var(--blue);
    color: white;
    box-shadow: 0 12px 24px rgba(0, 102, 255, 0.2);
}

/* Also ensure the project card's text color changes on hover */
.project-card:hover .highlight {
    color: white;
    /* Change the highlight color to white when card is hovered */
}

/* Section styles for Projects */
.section {
    padding: 10rem 2rem;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section h2 {
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 4rem;
    color: var(--gray-900);
    display: inline-block;
    position: relative;
    text-align: center;
}

.section h2::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 6rem;
    height: 3px;
    background: var(--blue);
}

.highlight {
    font-weight: 600;
    margin-bottom: 1rem;
}